BlockDesigner_Core/systemc-2.3.1_BD/objdir/
BlockDesigner_Core/systemc-2.3.1_BD/autom4te.cache/
BlockDesigner_Core/JNI_Interface/
TestPlatform/*.o
TestPlatform/*.d
TestPlatform/obj_dir/
TestPlatform/console/*.o
TestPlatform/console/*.so
