<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.twoblock.blockdesigner.perspective"
            name="TwoBlock">
      </category>
      <view
            category="com.twoblock.blockdesigner.perspective"
            class="com.twoblock.blockdesigner.view.View_PlatformManager"
            icon="images/twoblocklogo16.png"
            id="com.twoblock.blockdesigner.view.View_PlatformManager"
            name="Platform Manager">
      </view>
      <view
            category="com.twoblock.blockdesigner.perspective"
            class="com.twoblock.blockdesigner.view.View_SimulationEnvironment"
            icon="images/Simulation_Environment.png"
            id="com.twoblock.blockdesigner.view.View_SimulationEnvironment"
            name="Simulation Environment">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.twoblock.blockdesigner.command.Handler_Exit"
            id="com.twoblock.blockdesigner.command.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="com.twoblock.blockdesigner.modulewizard.h_mw"
            id="com.twoblock.blockdesigner.modulewizard.OpneModuleWizard"
            name="OpneModuleWizard">
      </command>
      <command
            defaultHandler="com.twoblock.blockdesigner.command.Handler_AboutTwoblock"
            id="com.twoblock.blockdesigner.command.OpenAboutTwoblock"
            name="OpenAboutTwoblock">
      </command>
      <command
            id="com.twoblock.blockdesigner.perspective"
            name="Block Designer">
      </command>
      <command
            id="com.twoblock.blockdesigner.perspective"
            name="name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=help">
         <menu
               label="Block Designer">
            <command
                  commandId="com.twoblock.blockdesigner.modulewizard.OpneModuleWizard"
                  label="Module Wizard"
                  style="push"
                  tooltip="Opne Module Wizard">
            </command>
            <separator
                  name="com.twoblock.e4.platform.manager.ui.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="com.twoblock.blockdesigner.modulewizard.OpneModuleWizard"
                  label="Open Platform manager"
                  style="push"
                  tooltip="Open Platform manager">
            </command>
            <command
                  commandId="com.twoblock.blockdesigner.modulewizard.OpneModuleWizard"
                  label="Open Simulation env."
                  style="push"
                  tooltip="Open Simulation env.">
            </command>
            <separator
                  name="com.twoblock.e4.platform.manager.ui.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="com.twoblock.blockdesigner.command.OpenAboutTwoblock"
                  label="About TwoBlock"
                  style="push"
                  tooltip="About Twoblock">
            </command>
            <command
                  commandId="com.twoblock.blockdesigner.command.Exit"
                  label="Exit"
                  style="push"
                  tooltip="Exit the application">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.twoblock.e4.platform.manager.ui.toolbar1">
            <command
                  commandId="com.twoblock.blockdesigner.modulewizard.OpneModuleWizard"
                  icon="images/Component Wizard_resize.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="Block_Designer"
         name="Block_Designer"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.twoblock.blockdesigner.perspective.Perspective_BlockDesigner"
            fixed="true"
            icon="images/twoblocklogo16.png"
            id="com.twoblock.blockdesigner.perspective.Perspective_BlockDesigner"
            name="Block Designer">
      </perspective>
      <perspective
            class="com.twoblock.blockdesigner.perspective.Perspective_BD_Sim"
            fixed="true"
            icon="images/Simulation_Environment.png"
            id="com.twoblock.blockdesigner.perspective.Perspective_BD_Sim"
            name="Block Simulator">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.twoblock.blockdesigner.perspective.Perspective_BlockDesigner">
         <view
               id="com.twoblock.blockdesigner.view.View_PlatformManager"
               minimized="false"
               ratio="1"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.twoblock.blockdesigner.perspective.Perspective_BD_Sim">
         <view
               id="com.twoblock.blockdesigner.view.View_SimulationEnvironment"
               minimized="false"
               ratio="1"
               relationship="stack"
               relative="org.eclipse.ui.browser.view"
               showTitle="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
   
   
</plugin>
